<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TechConference</title>
</head>
<body>
<h1>Propostas de Palestras</h1>

<a th:href="@{/propostas/nova}">Nova Proposta</a>

<table border="1">
    <thead>
    <tr>
        <th>ID</th><th>Titulo</th><th>Palestrante</th><th>Categoria</th>
        <th>Nivel</th><th>Status</th><th>Acoes</th>
    </tr>
    </thead>
    <tbody>
        <!-- TODO: implementar listagem com th:each -->
    </tbody>
</table>
</body>
</html>
